.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    --bg-card: #FFF5CC;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    width: 25rem;
    height: 30rem;
    background-color: var(--bg-card);
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    span {
      font-size: 1.5rem;
      line-height: 1.6;
      font-family: "SecondaryFont";
      letter-spacing: 2px;
      color: black;
    }

    .image_container {
      overflow: hidden;
      position: relative;
      z-index: 5;
      width: 100%;
      height: 350px;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .spinner {
        border: 3px solid rgba(255, 255, 255, 0.3);
        border-top: 3px solid #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        position: absolute;
        z-index: 10;
      }

      img {
        width: 90%;
        height: 90%;
        animation: move-up-down 3s ease-in-out infinite;
      }
    }

    @keyframes move-up-down {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .title {
      overflow: clip;
      width: 100%;
      font-size: 1rem;
      font-weight: 600;
      color: var(--light);
      text-transform: capitalize;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }

    .size {
      font-size: 0.75rem;
      color: var(--light);
    }

    .list-size {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      margin-top: 0.25rem;
    }

    .list-size .item-list {
      list-style: none;
    }

    .list-size .item-list-button {
      cursor: pointer;
      padding: 0.5rem;
      background-color: var(--zinc-800);
      font-size: 0.75rem;
      color: var(--light);
      border: 2px solid var(--zinc-800);
      border-radius: 0.25rem;
      transition: all 0.3s ease-in-out;
    }

    .item-list-button:hover {
      border: 2px solid var(--light);
    }

    .item-list-button:focus {
      background-color: var(--primary);
      border: 2px solid var(--primary-shadow);
      box-shadow: inset 0px 1px 4px var(--primary-shadow);
    }

    .action {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .price {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--light);
    }

    .cart-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem;
      width: 100%;
      background-image: var(--bg-linear);
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--light);
      text-wrap: nowrap;
      border: 2px solid hsla(262, 83%, 58%, 0.5);
      border-radius: 0.5rem;
      box-shadow: inset 0 0 0.25rem 1px var(--light);
    }

    .cart-button .cart-icon {
      width: 1rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (min-width: 768px) and (max-width: 1303px) {
  .card-holder{
    padding-left: 2%;
    padding-right: 2%;
    .card{
      width: 22rem;
      height: 28rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-holder{
    padding-left: 2%;
    padding-right: 2%;
    ul{
      padding-left: 0 !important;
    }
    .card{
      width: 15rem;
      height: 20rem;

      .image_container{
        height: 400px;
      }

      span{
        font-size: 1rem;
      }
      .image_container {
        img {
          width: 90%;
          height: 90%;
          animation: move-up-down 3s ease-in-out infinite;
        }
      }
    }
  }
}