.scholars {
  padding-top: 5%;
  padding-bottom: 1%;
  h2 {
    text-align: center;
    color: white;
    font-family: "MainFont";
    font-size: 4rem;
    letter-spacing: 5px;
    padding: 0.5%;
  }

  h4 {
    text-align: center;
    color: white;
    font-family: "MainFont";
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding: 0.5%;
    padding-top: 2%;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: "SecondaryFont";
    letter-spacing: 2px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
