.scholars {
  padding-top: 7%;
  height: 100%;
  h2 {
    text-align: center;
    color: white;
    font-family: "MainFont";
    font-size: 4rem;
    letter-spacing: 5px;
    padding: 0.5%;
  }

  h4 {
    text-align: center;
    color: white;
    font-family: "MainFont";
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding: 0.5%;
    padding-top: 2%;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: "SecondaryFont";
    letter-spacing: 2px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1303px) {
  .scholars {
    padding-top: 10%;
  }
  p {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 767px) {
  .scholars {
    padding-top: 23%;
    padding-bottom: 8%;
    height: 100%;
    h2 {
      font-size: 2.5rem;
    }
    p {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}
