/* Navbar.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .navbar-logo {
    width: 20%;
    img{
        height: auto;
        width: 18%;
        border-radius: 50%;
    }
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    width: 17%;
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
}

